<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Planet:</strong>
   <%= link_to @person.planet.name, @person.planet %>
</p>

<p>
  <strong>Starship:</strong>
  <% @person.starships.each do |starship| %>
    <p><%= link_to starship.name, starship %></p>
  <% end %>
</p>

<p>
  <strong>Film:</strong>
  <% @person.films.each do |film| %>
    <p><%= film.title %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
