<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @planet.name %>
</p>

<p>
  <strong>Population:</strong>
  <%= @planet.population %>
  <% if @planet.population.to_i < 200000 %>
    <p>Population is lower than 200000.</p>
  <% end %>
</p>

<p>
  <strong>Characters:</strong>
  <% @planet.people.each do |person| %>
    <p><%= link_to person.name, person %></p>
  <% end %>
</p>

<p>
  <strong>Film:</strong>
  <% @planet.films.each do |film| %>
    <p><%= link_to film.title, film %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_planet_path(@planet) %> |
<%= link_to 'Back', planets_path %>
